body{
    width: 800px;
}
a{
    text-decoration: none;
    color: rgb(0, 204, 255);
}
table{
    border-collapse:collapse;
    background-color: rgb(64, 192, 224);
}
thead{
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: bold;
}
.heading{
    height: 80px;
    background-color: rgb(0, 140, 255);
}
.photo img{
    height: 80%;
}
.subtitle{
    color: rgb(165, 165, 165);
}

.conteiner{
    height: 300px;
}

.description-img{
    font-size: 10px;
}

.underlined{
    background-color: yellow;
}

.colon{
    width: 200px;
}
.photo-final{
    height: 150px;
    width: 150px;
    color: white;
}

#pattern{
    height: 100%;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: contain;
}

#logo{
    width: 100px;
    
}

#photo-monitor{
    background-image: url(../img/monitor.jpg);
}
#photo-graph{
    background-image: url(../img/graph.jpg);
}

#white-table{
    background-color: white;
}